body {
    margin: 0px;
    font-family: Calibri, sans-serif;
}

#dateRangeUpdateButton {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 4px 15px 8px 15px;
    cursor: pointer;
}

#dateRangeSelection {
  position: absolute;
  background: #002b2f;
  padding: 10px 30px;
  width: calc(100% - 60px);
  color: white;
  top: 0px;
  left: 0px;
}

#dateRangeSelection > span{
    display: block;
    padding: 5px 0px 10px 0px;
}

.dateSelectInput {
    background: white;
    color: #002b2f;
    padding: 5px 15px;
    margin: 0px;
    border: 0px;
}

#drawArea {
    width: calc(100% - 20px);
    height: calc(100% - 150px);
    padding: 0px 10px;
    margin-top: 100px;
}

.delay-info {
  font: 12px sans-serif;
  opacity: 0;
  pointer-events: none;
  fill: rgb(100, 100, 100);
  text-anchor: middle;
}

.delay-rect {
  opacity: 0;
  fill: white;
  stroke-width: 2px;
  stroke: rgb(255, 102, 0); /* VVS-orange */
  pointer-events: none;
  rx: 5px;
  ry: 5px;
}

.station-name {
  font: 12px sans-serif;
  fill: rgb(100, 100, 100);
}

.station.hovered .delay-info, .station.hovered .delay-rect {
  opacity: 1;
}

.station.hovered .station-name {
  display: block;
  pointer-events: none;
}