.line-info {
  font: 11px sans-serif;
}

.station-name {
  font: 13px sans-serif;
}

.station-name, .line-info {
  display: none;
  fill: #4f4f4f;
}

.station line {
  stroke-width: 1px;
  stroke: #6f6f6f;
}

.station {
  opacity: 0.5;
}

.station.hovered {
  opacity: 1;
}

.station.hovered .station-name {
  display: block;
  pointer-events: none;
}